/* normalize */
html, 
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Helvetica';
    height: 100%;
}

/* app */

div#app {
    width: 100%;
    text-align: center;
}

img#ebay-logo {
    width: 300px;
    display: block;
    margin: 25px auto 25px auto;
}

div#app input[type="text"] {
    display: block;
    margin: 0px auto 5px auto;
    padding: 5px;
    width: 250px;
}

div#app button#start {
    display: block;
    margin: 25px auto 5px auto;
    padding: 5px;
    width: 250px;
}

div#loading-container {
    margin: 0px auto;
    width: 500px;
}

div#feed {
    margin: 25px auto;
    width: 500px;
    text-align: left;
    font-size: 0.75em;
    height: 275px;
    overflow-x: scroll;
}

img.thumb {
    display: inline-block;
    width: 100px;
}

div#backup {
    width: 100%;
    margin-top: 0px;
    text-align: center;
}

div.item {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: solid thin black;
    padding: 15px;
    margin: 15px 15px;
    cursor: pointer;
    border-radius: 5px;
}

div.item:hover {
    opacity: 0.75;
}

div#new {
    color: red;
}

div#selected {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: none;
    z-index: 99;
    overflow-x: scroll;
}

div#selected div#images {
    width: 100%;
    border-bottom: solid thin grey;
    padding-top: 15px;
    padding-bottom: 10px;
}

div#selected div img {
    width: 50px;
    display: inline-block;
    margin-right: 2.5px;
    cursor: pointer; 
}

div#selected div img:hover {
    opacity: 0.75;
}

div#selected h1 {
    font-size: 1.5em;
    font-weight: 100;
    margin: 15px 50px;
}

div#selected ul {
    list-style: none;
    margin: 15px 0px;
    font-size: 0.75em;
}

div#selected ul li {
    float: left;
    margin-right: 25px;
    margin-bottom: 5px;
    text-align: left;
}

div#selected div#btns {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 15px;
}

div#selected div#btns div {
    display: inline-block;
    padding: 5px;
    border: solid thin black;
    border-radius: 5px;
    cursor: pointer;
}

span.reload-message {
    font-size: 0.75em;
}